.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-color: lightblue;
}

canvas {
	background: url(Images/Map.png);
	background-size: cover;
}

.game {
	background: url(Images/Background.png);
	background-size: cover;
    width: 100%;
    padding-top: 10px;
	padding-bottom: 10px;
	
	border-radius: 3px;
}

.stats {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: bold;
	font-size: 45px;
	text-align: left;
}

.stats img {
	vertical-align: middle;
}

.stats span {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

.startBtn {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
	font-weight: bold;
	background-color: transparent;
	border-radius: 100px;
	border: 3px solid black;
	padding: 10px;

	position: absolute;
	top: 392px;
	left: 600px;
}

.startBtn:hover {
	cursor: pointer;
}

.restartbtn {
	text-align: center;
	padding: 20px;
	border-radius: 100px;
	background-color: #a2ffa7;
	border: none;
	cursor: pointer;
}

.cols {
	box-sizing: border-box;
	width: 30%;
	padding: 5px;
	float: left;
	text-align: center;
	margin: 0 auto;
	display: table;
}

.center {
	width: 40%;
}

.verticallogo {
	margin: auto;
	display: table;
	text-align: center;
	position: relative;
	top: 260px;
}

.verticalstats {
	margin: auto;
	display: table;
	text-align: center;
	position: relative;
	top: 196px;
}

.footer {
	background-color: white;
	padding: 10px;
}

@media screen and (max-width: 1024px) {
	.cols {
		width: 100%;
	}

	.verticallogo, .verticalstats {
		top: 0px;
	}
}