* {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-color: lightblue;
}

canvas {
	background: url(Images/Map.png);
	cursor: pointer;
}

.header {
	overflow: hidden;
	width: 100%;
	background-color: antiquewhite;
	margin-bottom: 25px;
	
}

.title {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 400;
	margin-left: 25px;
}

.desc {
	text-align: center;
	font-size: 20px;
}

.game {
    background-color: skyblue;
    border-radius: 5px;
    width: 100%;
    padding-top: 10px;
	padding-bottom: 10px;
	
	margin-bottom: 150px;
}

.restartbtn {
	text-align: center;
	padding: 20px;
	border-radius: 100px;
	background-color: white;	
	border: none;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	
}

.col13 {
	box-sizing: border-box;
	width: 30%;
	padding: 5px;
	float: left;
	text-align: center;
	margin: 0 auto;
	display: table;
}

.center {
	width: 40%;
}

.verticallogo {
	margin: auto;
	display: table;
	text-align: center;
	position: relative;
	top: 260px;
}

.col {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 10px;
	text-align: center;

	border-right: 1px solid black;
}

.col:last-child {
	border-right: none;
}

.footer {
	background-color: white;
	padding: 10px;
}

@media screen and (max-width: 1024px) {
	.col {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid black;
	}

	.col:last-child {
		border-bottom: none;
	}

	.col13 {
		width: 100%;
	}

	.verticallogo {
		top: 0px;
	}
}
